@model IEnumerable<TestTwo.Models.User>

@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>

<p>
    <a asp-action="Index" asp-route-userId="" asp-controller="User">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Index", new { userId= item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
